a {
    text-decoration: none !important;
}

#about_container {
    padding-top: 18%;
    padding-bottom: 18%;
    padding-right: 15%;
    padding-left: 15%;
}

.alert {
    display: flex;
}

.card {
    padding: 20px;
    margin: 5px;
    text-align: center;
}

#bg_img {
    background-image: url('/static/eeveebg.jpg');
    /* background-image: url('/static/pokebg1.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#card_container {
    /* background-color: #f4faff; */
    padding: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#details_container {
    padding-top: 250px;
    padding-bottom: 250px;
}

#footer {
    background-color: #F5F5F5 !important;
    padding: 20px;
    /* margin-top: 10px; */
    text-align: center;
}


#search_box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
}

.search-btn {
    border-radius: 3px;
    float: right;
}

#search_container {
    padding-top: 15%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 10%;
}

/* #search-btn {
    display: block;
} */

#pokedex_container {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pokedex_card {
    padding: 1%;
}

#reponse_container {
    padding: 20px;
    text-align: center;
}

#response_card {
    padding: 20px;
    margin-right: 100px;
    width: 40rem;
}

#response_details {
    padding: 20px;
    margin-right: 100px;
    width: 40rem;
}

#navbar {
    background-color: #F5F5F5;
    padding: 20px;
    text-align: center;
}

h5:first-letter {
    text-transform: uppercase;
}

p:first-letter {
    text-transform: uppercase;
}